# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Tests
/coverage

# Build
/build

# Misc
/.idea
Thumbs.db
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase
.firebaserc
/firebaseConfig.js